<div class="cover-index">
  <div class="container">
    <div class="row justify-content-center">
      <h1 class="font-weight-normal mt-3">商品一覧</h1>
    </div>
    <div class="row justify-content-center">
      <% @items.each do |item| %>
      <div class="one-post">
  　　　　<span>
          <% if item.image.attached? %>
           <%= image_tag item.image, size: "200x200" %>
          <% else %>
           <%= image_tag 'no_image', size: "200x200" %>
          <% end %>
        </span>
        <p class="caption">商品名</p>
        <span><%= item.name %></span>

        <p class="caption">商品説明</p>
        <span><%= item.introduction %></span>

        <p class="caption">価格</p>
        <span><%= item.price %></span>
        
        <p class="caption">店舗</p>
        <span><%= item.member.name %></span>
      </div>
      <% end %>
    </div>
  </div>
</div>