<h2>予約履歴詳細</h2>

<h4>ご予約情報</h4>
<table class="table">
  <thead>
    <th>予約日</th>
    <th>予約先</th>
    <th>予約商品</th>
  </thead>
  <tbody>
      <tr>
        <td><%= @reservation.created_at %></td>
        <td><%= @reservation.postal_code %>
            <%= @reservation.address %>
            <%= @reservation.name %></td>
        <td><%= @reservation.item.name %></td>
      </tr>
  </tbody>
</table>